<div class="mob-menu is-hidden" data-menu-mob>
  <section class="mob-container">
    <div class="header-mob-icon">
      <a href="#" class="header-link link"
        ><svg class="header__logo-svg" width="14" height="14">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <span class="mob-header-text link">thewatchspot</span></a
      >

      <button data-menu-mob-close class="mob-close-button">
        <svg class="mob-bacdrop-svg" width="24" height="24">
          <use href="./img/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <div class="mob-burger-id">
      <ul class="mob-menu-list list">
        <li data-menu-mob-close-link class="mob-menu-item studio">
          <a href="#about" class="mob-menu-link link after-line curent"
            >About us</a
          >
        </li>
        <li class="mob-menu-item portfolio">
          <a href="#" class="mob-menu-link link after-line">Catalog</a>
        </li>
        <li class="mob-menu-item contacts">
          <a href="#" class="mob-menu-link link after-line">Sale</a>
        </li>
      </ul>
    </div>
  </section>
</div>
