<section id="catalog">
  <div class="catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalogwatch-list">
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-1.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-1-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-1.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="watch-price">€395</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-2.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-2-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-2.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Avondale Watch Police For Men</p>
          <span class="watch-price">€800</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-3.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-3-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-3.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </p>
          <span class="watch-price">€600</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-4.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-4-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-4.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Diver 300M Co-Axial Master Chronometer</p>
          <span class="watch-price">€1400</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-5.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-5-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-5.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Taman Watch By Police For Men</p>
          <span class="watch-price">€500</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-6.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-6-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-6.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Malawi Watch Police For Men</p>
          <span class="watch-price">€555</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-7.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-7-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-7.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Diver 300M Co-Axial Master Chronometer</p>
          <span class="watch-price">€1200</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/mobile/catalog/catalog-watch-mob-8.jpg       1x,
                  ./img/mobile/catalog/2x/catalog-watch-mob-8-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./img/mobile/catalog/catalog-watch-mob-8.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Greenlane Watch By Police For Men</p>
          <span class="watch-price">€1000</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/desctop/catalog/catalog-watch-dectop-9.jpg           1x,
                  ./img/desctop/catalog/2x/catalog-watch-tab-dectop-9-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                src="./img/desctop/catalog/catalog-watch-dectop-9.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p>Squardrc 5402 Chrono</p>
          <span class="watch-price">€359</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/desctop/catalog/catalog-watch-dectop-10.jpg           1x,
                  ./img/desctop/catalog/2x/catalog-watch-tab-dectop-10-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                src="./img/desctop/catalog/catalog-watch-dectop-10.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </p>
          <span class="watch-price">€400</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/desctop/catalog/catalog-watch-dectop-11.jpg           1x,
                  ./img/desctop/catalog/2x/catalog-watch-tab-dectop-11-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                src="./img/desctop/catalog/catalog-watch-dectop-11.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Citizen</p>
          <span class="watch-price">€519</span>
        </a>
      </li>
      <li class="catalog-watch-list-item">
        <a href="" class="cataloge-links">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/desctop/catalog/catalog-watch-dectop-12.jpg           1x,
                  ./img/desctop/catalog/2x/catalog-watch-tab-dectop-12-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                src="./img/desctop/catalog/catalog-watch-dectop-12.jpg"
                alt="Watch model"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-overlay-title">Description</h3>
              <span class="catalog-overlay-paragraph catalog-overlay-desc"
                >Richly detailed with an understated design - the Police Men's
                Greenlane watch.</span
              >
              <h3 class="catalog-overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="catalog-overlay-list">
                <li>
                  <p class="catalog-overlay-paragraph">Gender: man</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Size: 46x54.5mm</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Colour: Steel</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Case Material: Metal</p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Features: Multifunction
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li>
                  <p class="catalog-overlay-paragraph">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="watch-model-name">Armani Exchange</p>
          <span class="watch-price">€400</span>
        </a>
      </li>
    </ul>
    <div class="catalog-btn-wrapper">
      <button type="button" class="cataloge-button" data-modal-open>
        Buy now
      </button>
    </div>
  </div>
</section>
