<footer class="footer">
  <div class="container">
    <div class="footer-cont">
      <div class="footer-tablet">
        <div class="media-cont">
          <div class="div-logo">
            <a href="">
              <svg class="footer-logo">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
            </a>
            <ul class="address-list">
              <li class="address-list-items">
                <a class="footer-tel" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="address-list-item">
                <a
                  class="footer-address"
                  href="https://goo.gl/maps/RcrE7roccsHobWp7A"
                  target="_blank"
                  >1678 S. Pioneer Road Salt Lake City <br />
                  UT 84104</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-menu">
            <ul class="menu-list">
              <li class="menu-list-item">
                <a class="footer-menu-item" href="#about">About us</a>
              </li>
              <li class="menu-list-item">
                <a class="footer-menu-item" href="">Catalog</a>
              </li>
              <li class="menu-list-item">
                <a class="footer-menu-item" href="">Sale</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-social">
          <ul class="footer-social-list">
            <li class="social-list-item">
              <a
                class="footer-social-link"
                href="https://uk-ua.facebook.com"
                target="_blank"
              >
                <svg class="footer-icon">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-inst">
              <a
                class="footer-social-link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="footer-inst">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                class="footer-social-link"
                href="https://www.youtube.com"
                target="_blank"
              >
                <svg class="footer-icon">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-info">
        <p class="footer-copyright">
          ©2022 The Watch Spot. All rights reserved.
        </p>
        <div class="privacy-policy">
          <p class="footer-copyright">Privacy Policy</p>
          <p class="footer-copyright">Terms of Service</p>
        </div>
      </div>
    </div>
  </div>
</footer>
