<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header>
<header>
  <div class="container container-for-menu header-container">
    <nav class="nav-main">
      <div class="logo">
        <a class="link" href="./index.html"
          ><span class="logo-web">WEB</span
          ><span class="logo-studio">STUDIO</span></a
        >
      </div>
      <div class="nav-address-wrap">
        <ul class="link header-navigation">
          <li class="item-navigation">
            <a class="navigation current-line" href="./index.html">Studio</a>
          </li>
          <li class="item-navigation">
            <a class="navigation" href="./portfolio.html">Portfolio</a>
          </li>
          <li class="item-navigation">
            <a class="navigation" href="./mobile.html">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>

    <address>
      <div class="contact-block">
        <ul class="link contact-list">
          <li class="contact-item">
            <a class="contact" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
          <li class="contact-item">
            <a class="contact" href="tel:+110001111111">+11 (000) 111-11-11</a>
          </li>
        </ul>
      </div>
    </address>

    <button
      type="button"
      class="button mobile-menu-open menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-menu-hamburger" width="32px" height="22px">
        <use href="./images/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>

    <!-- ====================================== MENU ========================= -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="19.2 16 13.61 14"
    >
      <g filter="url(#filter0_d_74_754)">
        <path
          d="M31.3069 24.1215L28.3547 17.3592L27.711 16.9129L26.9563 16.6726L25.9352 16.398L24.7366 16.9129L23.9375 17.3592L26.9563 24.1215H31.3069Z"
          fill="url(#paint0_linear_74_754)"
        ></path>
      </g>
      <g filter="url(#filter1_d_74_754)">
        <path
          d="M20.7117 21.8604L23.6639 28.6386L24.3076 29.0859L25.0623 29.3267L26.0833 29.602L27.282 29.0859L28.0811 28.6386L25.0623 21.8604H20.7117Z"
          fill="url(#paint1_linear_74_754)"
        ></path>
      </g>
      <path
        d="M23.7791 17.4476L19.196 24.0723L23.7791 24.1214L27.0921 17.4476C27.3247 16.7649 28.0526 17.1631 28.3874 17.4476C26.9564 14.8259 24.719 16.3552 23.7791 17.4476Z"
        fill="white"
      ></path>
      <path
        d="M28.2209 28.5524L32.804 21.9277L28.2209 21.8786L24.9079 28.5524C24.6753 29.2351 23.9474 28.8369 23.6126 28.5524C25.0436 31.1741 27.281 29.6448 28.2209 28.5524Z"
        fill="white"
      ></path>
      <defs>
        <filter
          id="filter0_d_74_754"
          x="3.9375"
          y="0.39801"
          width="47.3691"
          height="47.7235"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          ></feColorMatrix>
          <feOffset dy="4"></feOffset>
          <feGaussianBlur stdDeviation="10"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_74_754"
          ></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_74_754"
            result="shape"
          ></feBlend>
        </filter>
        <filter
          id="filter1_d_74_754"
          x="0.711914"
          y="5.86038"
          width="47.3691"
          height="47.7416"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          ></feColorMatrix>
          <feOffset dy="4"></feOffset>
          <feGaussianBlur stdDeviation="10"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_74_754"
          ></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_74_754"
            result="shape"
          ></feBlend>
        </filter>
        <linearGradient
          id="paint0_linear_74_754"
          x1="30.5434"
          y1="24.1215"
          x2="27.0422"
          y2="17.5716"
          gradientUnits="userSpaceOnUse"
        >
          <stop></stop>
          <stop offset="0.494792" stop-color="white"></stop>
          <stop offset="1" stop-color="white"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_74_754"
          x1="21.4752"
          y1="21.8604"
          x2="24.9891"
          y2="28.4189"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0C0C0C"></stop>
          <stop offset="0.494792" stop-color="white"></stop>
          <stop offset="1" stop-color="white"></stop>
        </linearGradient>
      </defs>
    </svg>

    <div
      class="container-for-menu menu-wrap-container menu-container js-menu-container is-open"
      id="mobile-menu"
    >
      <button
        type="button"
        class="menu-close-btn menu-toggle js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="close-menu-btn-icon" width="8px" height="8px">
          <use href="./images/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
      <div class="menu-list">
        <ul class="link contact-list-menu">
          <li class="navigation-menu">Studio</li>
          <li class="navigation-menu">Portfolio</li>
          <li class="navigation-menu color-new">Contacts</li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul class="link contact-menu">
          <li class="tel-menu">
            <a href="tel:+110001111111"></a>+11 (000) 111-11-11
          </li>
          <li class="mail-menu">
            <a href="mailto:info@devstudio.com"></a> info@devstudio.com
          </li>
        </ul>
        <ul class="link social-media-list-menu">
          <li class="media-list">
            <a class="media-list-link" href="">
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="media-list">
            <a class="media-list-link" href="">
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="media-list">
            <a class="media-list-link" href="">
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="media-list">
            <a class="media-list-link" href="">
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
