<header>
  <div class="container header__container">
    <nav class="header__nav">
      <div class="header__logo">
        <a class="header__link" href="./index.html"
          ><span class="header__logo-icon">
            <svg class="header__logo-svg" width="19px" height="19px">
              <use href="../img/icons.svg#icon-logo"></use></svg></span
          ><span class="header__logo-name">thewatchspot</span></a
        >
      </div>

      <ul class="header__navigation">
        <li class="header__item">ABOUT US</li>
        <li class="header__item">CATALOG</li>
        <li class="header__item">SALE</li>
      </ul>
    </nav>

    <address>
      <div class="header__address">
        <a class="header__contact" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
    </address>

    <button
      type="button"
      class="header__button menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__burger-svg" width="20px" height="14px">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
