<header>
  <div class="header-container">
    <nav class="nav">
      <div class="logo">
        <a class="link" href="./index.html"
          ><span class="logo-icon">SVG</span
          ><span class="logo-name">thewatchspot!!</span></a
        >
      </div>
    </nav>

    <button
      type="button"
      class="button mobile-menu-open menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-menu-hamburger" width="32px" height="22px">
        <use href="./images/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>

    <!-- ====================================== MENU ========================= -->

    <!-- <div
      class="container-for-menu menu-wrap-container menu-container js-menu-container is-open"
      id="mobile-menu"
    >
      <button
        type="button"
        class="menu-close-btn menu-toggle js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="close-menu-btn-icon" width="8px" height="8px">
          <use href="./images/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
    </div> -->
  </div>
</header>
