<section class="hero-section">
  <div class="hero-container hero">
    <div class="hero-tittle">
      <h1 class="hero-tittle-text">
        Welcome to our collection of premium watches
      </h1>
    </div>
    <div class="hero__slider-block">
      <picture class="hero-slider-photo">
        <!-- <source    
          srcset="
            ./img/Desctop/watch-hero/watch-tablet-dectop-1.jpg        1x,
            ./img/Desctop/watch-hero/2X/watch-tablet-dectop-1-2x.jpg  2x
            "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/Tablet/watch-hero/watch-tablet-dectop-1.jpg           1x,
            ./img/Tablet/watch-hero/2X/watch-tablet-dectop-1-2x.jpg     2x
            "
          media="(min-width: 768px)"
          type="image/jpeg"
        /> -->
        <source
          srcset="
            ./img/Tablet/watch-hero/hero-slider-tab.jpg       1x,
            ./img/Tablet/watch-hero/2x/hero-slider-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/Mobile/watch-hero/hero-slider-mob.jpg       1x,
            ./img/Mobile/watch-hero/2x/hero-slider-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          class="hero__slider"
          src="./img/Mobile/watch-hero/hero-slider-mob.jpg"
          alt=""
        />
      </picture>

      <div class="hero__slider-navigation">
        <svg class="icon-chevron-left">
          <use href="./img/icons.svg#icon-chevron-left"></use>
        </svg>

        <svg class="icon-chevron-right">
          <use href="./img/icons.svg#icon-chevron-right"></use>
        </svg>

        <div class="navigation-digits">
          <p class="navigation-digits-text-left">01</p>
          <p class="navigation-digits-text">05</p>
        </div>
      </div>
    </div>
    <div class="hero-subtittle">
      <p class="hero-subtittle-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero__foto-block">
      <picture>
        <source
          class=""
          srcset="
            ./img/Desctop/blocks-hero/watch-hero-dec.jpg       1x,
            ./img/Desctop/blocks-hero/2x/watch-hero-dec-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/Tablet/blocks-hero/watch-hero-tab.jpg       1x,
            ./img/Tablet/blocks-hero/2x/watch-hero-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/Mobile/blocks-hero/watch-hero-mob.jpg       1x,
            ./img/Mobile/blocks-hero/2x/watch-hero-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          class="hero__foto"
          src="./img/Mobile/watch-hero/watch-mobile-1.jpg"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
