
<section class="hero container">
        <h1 class="hero-tittle">Welcome to our collection of premium watches</h1>
        


        
        <img src="../img/Mobile/catalog/catalog-watch-mob-1.jpg" 
        <picture>
            <source
              srcset="
              ../img/Mobile/catalog/catalog-watch-mob-1.jpg 1x,
              ../img/Mobile/watch-hero/2X/watch-mobile-1-2x.jpg 2x 
              "
            media=""
            type=""  /></picture>
        alt="">

        <!-- <div class="hero-swiper-logo">
            <picture
            ><source
              srcset="
              ../img/Mobile/catalog/catalog-watch-mob-1.jpg 1x,
              ../img/Mobile/watch-hero/2X/watch-mobile-1-2x.jpg 2x 
              "
            media=""
            type=""  />

        </div> -->
            
        <p class="hero-subtittle">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
        </p>

        <div class="hero-media-logo">
                <picture
                  ><source
                    srcset="
                      ..src/img/Mobile/blocks-hero/watch-hero-mob.jpg 1x,
                      ..src/img/Mobile/blocks-hero/2x/watch-hero-mob-2x.jpg 2x 
                    "
                    media="(min-width: 320px)"
                    type="image/jpg" />
        </div>

</section>
