<section class="hero-section">
  <div class="hero-container hero">
    <div class="hero-tittle">
      <h1 class="hero-tittle-text">
        Welcome to our collection of premium watches
      </h1>
    </div>
    <div class="hero__slider-block">
      <div class="swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                class=""
                srcset="
                  ./img/img-slader/tablet/tab-slader-1.webp       1x,
                  ./img/img-slader/tablet/2x/tab-slader-1-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                class=""
                srcset="
                  ./img/img-slader/mobile/mob-slader-1.webp       1x,
                  ./img/img-slader/mobile/2x/mob-slader-1-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                class=""
                src="./img/img-slader/mobile/mob-slader-1.webp"
                alt="watch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                class=""
                srcset="
                  ./img/img-slader/tablet/tab-slader-2.webp       1x,
                  ./img/img-slader/tablet/2x/tab-slader-2-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                class=""
                srcset="
                  ./img/img-slader/mobile/mob-slader-2.webp       1x,
                  ./img/img-slader/mobile/2x/mob-slader-2-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                class=""
                src="./img/img-slader/mobile/mob-slader-2.webp"
                alt="watch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                class=""
                srcset="
                  ./img/img-slader/tablet/tab-slader-3.webp       1x,
                  ./img/img-slader/tablet/2x/tab-slader-3-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                class=""
                srcset="
                  ./img/img-slader/mobile/mob-slader-3.webp       1x,
                  ./img/img-slader/mobile/2x/mob-slader-3-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                class=""
                src="./img/img-slader/mobile/mob-slader-3.webp"
                alt="watch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                class=""
                srcset="
                  ./img/img-slader/tablet/tab-slader-4.webp       1x,
                  ./img/img-slader/tablet/2x/tab-slader-4-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                class=""
                srcset="
                  ./img/img-slader/mobile/mob-slader-4.webp       1x,
                  ./img/img-slader/mobile/2x/mob-slader-4-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                class=""
                src="./img/img-slader/mobile/mob-slader-4.webp"
                alt="watch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                class=""
                srcset="
                  ./img/img-slader/tablet/tab-slader-5.webp       1x,
                  ./img/img-slader/tablet/2x/tab-slader-5-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                class=""
                srcset="
                  ./img/img-slader/mobile/mob-slader-5.webp       1x,
                  ./img/img-slader/mobile/2x/mob-slader-5-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                class=""
                src="./img/img-slader/mobile/mob-slader-5.webp"
                alt="watch"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="hero__slider-navigation swiper-button-contaier">
        <button
          class="button-prev chevron-button chevron-left-button"
          type="button"
        >
          <svg class="icon-chevron-left icon-chevron">
            <use href="./img/icons.svg#icon-chevron-left"></use>
          </svg>
        </button>

        <button
          class="button-next chevron-button chevron-right-button"
          type="button"
        >
          <svg class="icon-chevron-right icon-chevron">
            <use href="./img/icons.svg#icon-chevron-right"></use>
          </svg>
        </button>

        <div class="navigation-digits">
          <p class="navigation-digits-text-left pagination">01</p>
          <p class="navigation-digits-text">05</p>
        </div>
      </div>
    </div>
    <div class="hero-subtittle">
      <p class="hero-subtittle-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero__foto-block">
      <picture>
        <source
          class=""
          srcset="
            ./img/desctop/blocks-hero/watch-hero-dec.jpg       1x,
            ./img/desctop/blocks-hero/2x/watch-hero-dec-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/tablet/blocks-hero/watch-hero-tab.jpg       1x,
            ./img/tablet/blocks-hero/2x/watch-hero-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/mobile/blocks-hero/watch-hero-mob.jpg       1x,
            ./img/mobile/blocks-hero/2x/watch-hero-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          class="hero__foto"
          src="./img/desctop/blocks-hero/watch-hero-dec.jpg"
          alt="hand with watch"
        />
      </picture>
    </div>
  </div>
</section>
