<div class="new-watches container">
  <p class="new-text">New watches</p>
  <h2 class="new-title">Green And Bronze—The Match Made In Heaven</h2>
  <ul class="new-link">
    <li class="new-list">
      <img
        srcset="
          ../img/Mobile/new-watches/watch-new-mob-1.jpg       1x,
          ../img/Mobile/new-watches/2x/watch-new-mob-1-2x.jpg 2x
        "
        src="../img/Mobile/new-watches/watch-new-mob-1.jpg"
        alt="clock"
        width="335"
        height="260"
      />
    </li>
    <li class="new-list">
      <img
        srcset="
          ../img/Mobile/new-watches/watch-new-mob-2.jpg       1x,
          ../img/Mobile/new-watches/2x/watch-new-mob-2-2x.jpg 2x
        "
        src="../img/Mobile/new-watches/watch-new-mob-2.jpg"
        alt="clock"
        width="335"
        height="260"
      />
    </li>
  </ul>
</div>
