<div class="new-watches-container">
  <h2 class="new-text">New watches</h2>
  <p class="new-title">Green And Bronze—The Match Made In Heaven</p>
  <ul class="new-link">
    <li class="new-list">
      <img
        srcset="
          ./img/Mobile/new-watches/watch-new-mob-1.jpg       1x,
          ./img/Mobile/new-watches/2x/watch-new-mob-1-2x.jpg 2x
        "
        src="./img/Mobile/new-watches/watch-new-mob-1.jpg"
        alt="clock"
        width="335"
        height="260"
      />
      <picture>
        <source
          srcset="
            ./img/Mobile/new-watches/watch-new-mob-1.jpg       1x,
            ./img/Mobile/new-watches/2x/watch-new-mob-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <img
          src="./img/Mobile/new-watches/watch-new-mob-1.jpg"
          alt="Watch model"
          width="342"
          height="260"
        />
      </picture>
    </li>
    <li class="new-list">
      <img
        srcset="
          ./img/Mobile/new-watches/watch-new-mob-2.jpg       1x,
          ./img/Mobile/new-watches/2x/watch-new-mob-2-2x.jpg 2x
        "
        src="./img/Mobile/new-watches/watch-new-mob-2.jpg"
        alt="clock"
        width="335"
        height="260"
      />
      <picture>
        <source
          srcset="
            ./img/Mobile/new-watches/watch-new-mob-2.jpg       1x,
            ./img/Mobile/new-watches/2x/watch-new-mob-2-2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          src="./img/Mobile/new-watches/watch-new-mob-2.jpg"
          alt="Watch model"
          width="342"
          height="260"
        />
      </picture>
    </li>
  </ul>
</div>
