<div class="new-watches-container">
  <h2 class="new-text">New watches</h2>
  <p class="new-title">Green And Bronze—The Match Made In Heaven</p>
  <ul class="new-link">
    <li class="new-list">
      <picture>
        <source
          srcset="
            ./img/desctop/new-watches/watch-new-dec-1.jpg       1x,
            ./img/desctop/new-watches/2x/watch-new-dec-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/tablet/new-watches/watch-new-tab-1.jpg       1x,
            ./img/tablet/new-watches/2x/watch-new-tab-1-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/mobile/new-watches/watch-new-mob-1.jpg       1x,
            ./img/mobile/new-watches/2x/watch-new-mob-1-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./img/mobile/new-watches/watch-new-mob-1.jpg"
          alt="Watch model"
        />
      </picture>
    </li>
    <li class="new-list">
      <picture>
        <source
          srcset="
            ./img/desctop/new-watches/watch-new-dec-2.jpg       1x,
            ./img/desctop/new-watches/2x/watch-new-dec-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/tablet/new-watches/watch-new-tab-2.jpg       1x,
            ./img/tablet/new-watches/2x/watch-new-tab-2-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/mobile/new-watches/watch-new-mob-2.jpg       1x,
            ./img/mobile/new-watches/2x/watch-new-mob-2-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./img/mobile/new-watches/watch-new-mob-2.jpg"
          alt="Watch model"
        />
      </picture>
    </li>
  </ul>
</div>
