<section id="sale">
  <div class="container container-sale">
    <h2 class="titel-sale">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-img-block">
        <ul class="list list-sale-img">
          <li class="item-sale-img">
            <picture class="sale-bgr-small sale-list-small">
              <source
                srcset="
                  ./img/desctop/sale/watch-sale-dec-2.webp       1x,
                  ./img/desctop/sale/2x/watch-sale-dec-2-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet/sale/watch-sale-tab-2.webp       1x,
                  ./img/tablet/sale/2x/watch-sale-tab-2-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/sale/watch-sale-mob-2.jpg       1x,
                  ./img/mobile/sale/2x/watch-sale-mob-2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-img-small"
                src="./img/desctop/sale/watch-sale-dec-2.webp"
                alt="watch"
                width="146"
                height="146"
              />
            </picture>
          </li>
          <li class="item-sale-img">
            <picture class="sale-bgr-small">
              <source
                srcset="
                  ./img/desctop/sale/watch-sale-dec-3.jpg       1x,
                  ./img/desctop/sale/2x/watch-sale-dec-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet/sale/watch-sale-tab-3.jpg       1x,
                  ./img/tablet/sale/2x/watch-sale-tab-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/sale/watch-sale-mob-3.jpg       1x,
                  ./img/mobile/sale/2x/watch-sale-mob-3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-img"
                src="./img/desctop/sale/watch-sale-dec-3.jpg"
                alt="watch"
                width="146"
                height="146"
              />
            </picture>
          </li>
          <li class="item-sale-img">
            <picture class="sale-bgr-small">
              <source
                srcset="
                  ./img/desctop/sale/watch-sale-dec-5.jpg       1x,
                  ./img/desctop/sale/2x/watch-sale-dec-5-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet/sale/watch-sale-tab-5.jpg       1x,
                  ./img/tablet/sale/2x/watch-sale-tab-5-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/sale/watch-sale-mob-5.jpg       1x,
                  ./img/mobile/sale/2x/watch-sale-mob-5-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-img"
                src="./img/desctop/sale/watch-sale-dec-5.jpg"
                alt="watch"
                width="146"
                height="146"
              />
            </picture>
          </li>
          <li class="item-sale-img">
            <picture class="sale-bgr-small">
              <source
                srcset="
                  ./img/desctop/sale/watch-sale-dec-4.jpg       1x,
                  ./img/desctop/sale/2x/watch-sale-dec-4-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet/sale/watch-sale-tab-4.jpg       1x,
                  ./img/tablet/sale/2x/watch-sale-tab-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/sale/watch-sale-mob-4.jpg       1x,
                  ./img/mobile/sale/2x/watch-sale-mob-4-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-img"
                src="./img/desctop/sale/watch-sale-dec-4.jpg"
                alt="watch"
                width="146"
                height="146"
              />
            </picture>
          </li>
        </ul>
        <picture class="sale-big-picture">
          <source
            srcset="
              ./img/desctop/sale/watch-sale-dec-1.jpg       1x,
              ./img/desctop/sale/2x/watch-sale-dec-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/tablet/sale/watch-sale-tab-1.jpg       1x,
              ./img/tablet/sale/2x/watch-sale-tab-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/sale/watch-sale-mob-1.jpg       1x,
              ./img/mobile/sale/2x/watch-sale-mob-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sale-img-big"
            src="./img/desctop/sale/watch-sale-dec-1.jpg"
            alt="watch"
            width="235"
            height="350"
          />
        </picture>
      </div>
      <div class="sale-block-text">
        <div class="sale-text">
          <h3 class="subtitle-sale">Greenlane Watch By Police For MenHT</h3>
          <p class="subtitle-sale-small">Product tag: PEWJK2227003</p>
          <ul class="list list-sale">
            <li class="list-sale-price">€700</li>
            <li class="sale-price">€1000</li>
          </ul>
        </div>
        <div class="sale-desc">
          <ul class="list list-sale-desc">
            <li class="sale-item-desc">
              <h3 class="titel-sale-desc">Description</h3>
              <p class="sale-desc-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch features a versatile multifunction design that
                fits effortlessly into work and play. The steel case is adorned
                with a semi-transparent black dial. The timepiece exhibits a
                contrast through a black IP bracelet with matching crown and
                pushers.
              </p>
            </li>
            <li class="sale-item-desc">
              <h3 class="titel-sale-desc">DETAILS & FEATUREStion</h3>
              <ul class="sale-desc-text sale-desk-article">
                <li>
                  <p>Gender: man</p>
                </li>
                <li>
                  <p>Size: 46x54.5mm</p>
                </li>
                <li>
                  <p>Case Colour: Steel</p>
                </li>
                <li>
                  <p>Band Material:Metal</p>
                </li>
                <li>
                  <p>Case Material: Metal</p>
                </li>
                <li>
                  <p>Features: Multifunction</p>
                </li>
                <li>
                  <p>Water Resistant: 5 (ATM)</p>
                </li>
                <li>
                  <p>Band Colour: Steel</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
