
.menu-open-burger{
    border: none;
    stroke: #2E2F42;
    background-color: transparent;
}
.menu-open-burger-icon{
color: #FFFFFF;
}


.header-mob-icon{
    display: flex;
    margin-bottom: 206px;
}
.mob-header-text{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color:#1E2827;
    padding: 29px 20px;
}
.mob-close-button {
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background:#FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.mob-burger-id{
    display: flex;
    flex-direction: column;
}
.mob-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 14px;
}
.mob-menu-link {
    color: inherit;
}