.footer {
  width: 100%;
}

.footer-cont {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: var(--mobile-menu-background-color);
}

.footer-logo {
  display: block;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  margin-bottom: 40px;
}

.footer-tel {
  font-family: var(--primary-font);
  display: flex;
  width: 175px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #ffffff;
}

.address-list {
  max-width: 163px;
}
.address-list-items {
  margin-bottom: 20px;
}

.address-list-item {
  margin-bottom: 40px;
}

.media-cont {
  display: flex;
}

.footer-address {
  font-family: var(--primary-font);
  display: flex;
  width: 181px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.menu-list {
  font-family: var(--primary-font);
}

.footer-menu {
  margin-left: auto;
  margin-bottom: 10px;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-menu-item {
  width: 81px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  left: 8px;
  top: 8px;
  opacity: 0.8;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  fill: #ffffff;
}

.footer-inst {
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  left: 8px;
  top: 8px;
  opacity: 0.8;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  fill: #ffffff;
}

.footer-social-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  isolation: isolate;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-copyright {
  font-family: var(--primary-font);
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
  margin-top: 14px;
  margin-right: 14px;
}

.privacy-policy {
  display: flex;
}

@media screen and (min-width: 375px) {
  .footer-menu {
    margin-left: auto;
  }

  .footer-cont {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    background-color: var(--mobile-menu-background-color);
  }

  .footer-social-list {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    font-size: 14px;
    line-height: 1.3;
    margin-right: 0;
  }

  .footer-cont {
    max-width: none;
    width: 768px;
  }

  .footer-logo {
    width: 50px;
    height: 50px;
  }

  .address-list-item {
    margin-bottom: 0;
  }
  .footer-tablet {
    display: flex;
  }
  .footer-menu-item {
    font-size: 18px;
    line-height: 1.3;
  }
  .menu-list-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .footer-logo {
    width: 50px;
    height: 50px;
  }

  .footer {
    height: 476px;
  }
  .footer-tel {
    font-size: 18px;
    line-height: 1.3;
  }
  .footer-address {
    font-size: 18px;
    line-height: 1.3;
  }
  .footer-menu {
    margin-left: 142px;
  }

  .footer-social {
    margin-left: auto;
  }

  .footer-social-link {
    width: 44px;
    height: 44px;
  }

  .footer-icon {
    width: 28px;
    height: 28px;
  }

  .div-logo {
    width: 175px;
  }

  .footer-info {
    display: flex;
  }

  .privacy-policy {
    margin-left: 200px;
    gap: 18px;
  }

  .div-logo {
    margin-bottom: 152px;
  }

  .footer-cont {
    padding-top: 80px;
  }

  .footer-info {
    padding-bottom: 0;
  }

  .footer-copyright {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-cont {
    width: 1176px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-tablet {
    justify-content: space-between;
  }
  .footer-menu {
    margin-bottom: 0;
    margin-left: 0;
  }

  .footer {
    justify-content: center;
    height: 534px;
  }

  .privacy-policy {
    margin-left: auto;
  }

  .div-logo {
    margin-right: 355px;
    margin-bottom: 174px;
  }

  .footer-cont {
    padding-top: 104px;
  }

  .footer-copyright {
    padding-bottom: 32px;
  }

  .footer-info {
    height: 20px;
  }

  .footer-copyright {
    padding-bottom: 0;
  }

  .address-list {
    max-width: none;
  }

  .footer-social-list {
    margin-bottom: 0;
  }
}
