a {
    text-decoration-line: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.reset-px {
    display: block;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    background: #141414;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo-icon {
    display: flex;
    justify-content: center;
    margin-right: 4px;
    width: 19px;
    height: 19px;
    align-items: center;
    background-color: #fff;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
}

.header__logo-name {
    align-items: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.header__item {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.header__button {
    margin-left: auto;
    width: 20px;
    height: 14px;
    margin-top: 34px;
    margin-bottom: 34px;

}

.header__navigation {
    display: none;
}

.header__address {
    display: none;
}

/*============================== SCREEN 375px =============================== */

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-name {

        align-items: center;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1;
        letter-spacing: -0.03em;
        color: #FFFFFF;

        flex: none;
        order: 1;
        flex-grow: 0;
    }



}

/*============================== SCREEN 768px =============================== */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__button {
        display: none;
    }

    .header__navigation {
        display: flex;
        flex-wrap: wrap;
    }

    .header__address {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__contact {
        display: block;
        width: 100%;
        justify-content: center;
        align-items: center;

        padding: 18px 36px;
        background-color: #1E2827;


        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 1.33;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        border-radius: 8px;
    }




    .header__logo {
        margin-right: 80px;
    }

    .header__navigation {
        margin-right: 162px;
    }

    .header__item:not(:last-child) {
        margin-right: 40px;
    }

}

/*============================== SCREEN 1280px =============================== */
@media screen and (min-width: 1280px) {
    .container {
        width: 1176px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .header__container {
        justify-content: space-between;
    }

}