/* --------------- MAIN Styles --------------- */

.hero-container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.hero-section {
  background-color: var(--lighting-color);
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.swiper-wrapper {
  width: 266px;
  height: 200px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mobile-menu-background-color);
}

.hero-slider-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-tittle {
  max-width: 335px;
  height: 120px;
  margin-bottom: 60px;
}

.hero-tittle-text {
  font-family: 'Epilogue-SemiBold';
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--second-color);
}

.hero__slider-navigation {
  margin-top: 20px;
  height: 32px;
  display: flex;
}

.chevron-left-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-right: 12px;
}

/* rgba(255, 255, 255, 0.5) */

.chevron-right-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.icon-chevron-left {
  stroke: rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  stroke-width: 1.7778px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.icon-chevron-right {
  stroke: rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  stroke-width: 1.7778px;
}

.chevron-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--anim-dur-func);
}

.icon-chevron {
  fill: none;
  transition: stroke var(--anim-dur-func);
}

.chevron-button:hover,
.chevron-button:focus {
  border-color: var(--second-color);
}

.chevron-button:hover .icon-chevron,
.chevron-button:focus .icon-chevron {
  stroke: var(--second-color);
}

.navigation-digits {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  align-items: flex-end;
}

.navigation-digits-text-left {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--second-color);
}

.navigation-digits-text-left::after {
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--second-color);
  display: inline-block;
  vertical-align: super;
  margin-right: 6px;
  margin-left: 6px;
}

.navigation-digits-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--second-color);
}

.swiper-pagination-total {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hero-subtittle {
  display: block;
  width: 248px;
  margin-left: 87px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.hero-subtittle-text {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--second-color);
}

.hero__foto-block {
  max-width: 335px;
}

@media screen and (min-width: 375px) {
  .hero-container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --------------- Mobile Styles --------------- */

/* --------------- Tablet Styles --------------- */

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: none;
    width: 768px;
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-tittle-text {
    font-size: 60px;
    line-height: 1.03;
  }

  .hero-tittle {
    max-width: 653px;
    margin-bottom: 60px;
    height: auto;
  }

  .hero-subtittle {
    display: block;
    width: 248px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 70px;
  }

  .hero__slider-block {
    margin-bottom: 40px;
  }

  .hero__slider-navigation {
    height: 40px;
  }

  .hero__foto-block {
    max-width: none;
    width: 704px;
    height: 410px;
  }

  .chevron-left-button {
    width: 40px;
    height: 40px;
  }

  .chevron-right-button {
    width: 40px;
    height: 40px;
  }

  .icon-chevron-left {
    width: 24px;
    height: 24px;
  }

  .icon-chevron-right {
    width: 24px;
    height: 24px;
  }

  .swiper-wrapper {
    width: 436px;
    height: 255px;
  }
}

/* --------------- Desktop Styles --------------- */

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1176px;
    max-width: max-content;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .hero {
    position: relative;
  }

  .hero-tittle {
    max-width: 750px;
    margin-bottom: 42px;
  }

  .hero-subtittle {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    width: 282px;
  }

  .hero__slider-block {
    position: absolute;
    width: 436px;
    top: auto;
    bottom: 40px;
  }

  .hero__slider {
    max-width: 436px;
    height: 255px;
  }

  .hero__foto-block {
    width: 676px;
    height: 394px;
    margin-left: auto;
  }
}
