/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./burger.css');
@import url('./font-face.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./catalog.css');
@import url('./new_watches.css');
@import url('./sales.css');
@import url('./footer.css');
@import url('./buy_now.css');


:root {
  --primary-font: 'Epilogue-Regular';
  --second-font: 'Epilogue-Light';
  --lighting-color: #141414;
  --second-color: #ffffff;
  --color-text-desc: #14141480;
  --footer-color-lower: #c6cdd1;
  --hover-color-desc: #ffffff80;
  --mobile-menu-background-color: #1e2827;
  /*У кнопок такий же колір*/
  --anim-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*Взяв з дз*/
  --svg-border: 1px solid rgba(255, 255, 255, 0.1);
  --svg-border-hover: 1px solid #ffffff;
}